<div class="container">

  <form>
  <label>Please select your death</label>
  <select class="chosen-select">
    <option></option>
    <option>Wolves</option>
    <option>Pandas</option>
    <option>Eagle</option>
  </select>
</form>


  <div class="col-xs-12 col-md-6">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://lorempixel.com/output/nature-q-c-800-600-3.jpg" class="img-responsive"/>

      <div class="carousel-caption">
        Nature is Cool
      </div>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/output/nature-q-c-800-600-9.jpg" class="img-responsive"/>
      <div class="carousel-caption">
        Stay in School
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>

<section class="social-buttons">
<!-- Facebook -->
<div class="slide-social">
<div class="button">
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fchristopheryee.ca%2Fslide-social-buttons%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
</div>
<div class="facebook icon">
<i class="icon-facebook"></i>
</div>
<div class="facebook slide"><p>like</p></div>
</div>
<!-- Twitter -->
<div class="slide-social">
<div class="button">
<!-- FYI: Add your Twitter username to data-via -->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.christopheryee.ca/slide-social-buttons" data-text="Slide Social Buttons are a fun way to display your social media buttons" data-via="YOUR_TWITTER_USERNAME_HERE">tweet</a>
</div>
<div class="twitter icon">
<i class="icon-twitter"></i>
</div>
<div class="twitter slide"><p>tweet</p></div>
</div>
<!-- Google+ -->
<div class="slide-social">
<div class="button">
<div class="g-plusone" data-size="medium"></div>
</div>
<div class="google-plus icon">
<i class="icon-google-plus"></i>
</div>
<div class="google-plus slide"><p>+1</p></div>
</div>
<!-- Linkedin -->
<div class="slide-social">
<div class="button">
<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script type="IN/Share" data-url="http://christopheryee.ca/slide-social-buttons/" data-counter="right"></script>
</div>
<div class="linkedin icon">
<i class="icon-linkedin"></i>
</div>
<div class="linkedin slide"><p>share</p></div>
</div>
<!-- Pinterest -->
<div class="slide-social">
<div class="button">
<a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
</div>
<div class="pinterest icon">
<i class="icon-pinterest"></i>
</div>
<div class="pinterest slide"><p>pin it</p></div>
</div>
</section>



</div>
